includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 6
	treatPhpDocTypesAsCertain: false
	paths:
		- woocommerce-business-id.php
		- uninstall.php
		- src
	scanFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
